* {
    margin: 0 ;
    padding: 0 ;
  }
  
  .HeaderNav {
    padding: 20px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .NavImg{
    height: 80px;
    width: 100px;
  }
  
  .InputBar{
    padding: 30px;
  }

  ul {
    list-style-type: none;
    margin: 0;
    justify-content: center;
    display: flex;
    box-shadow: 0px 20px 18px -15px #888888;
    padding: 20px;
    border-top: 0.2px solid grey;
  }


li a {
    padding: 16px;
    text-decoration: none;
  }

  #container{
    line-height: 1.6;
    max-width: 992px;
    margin: 0  auto;
  }

  .clearfix {
    display: flex;
    margin-top: 100px;
    
  }

  .imageCoat{
    border: 1px solid lightgreen;
    width: 486px;
    height: 291px;
  }


  .Button{
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  #faIcons{
    margin: 20px 380px;
  }

.min{
  padding-left: 20px;
}

.us{
  padding-right: 20px;
}

#Body1{
  margin: 0 auto;
  max-width: 992px;
}

.Body1Grid {
  display: grid;
  gap: 50px;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
  max-width: 992px;
}


.GridDiv {
  border: 1px solid gray;
  padding: 20px;
  text-align: center;
}

.gridImg{
  margin-top: 50px;
}